apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "limesurvey.fullname" . }}-nginx
data:
  default.conf: |
    load_module modules/ngx_http_brotli_filter_module.so;
    load_module modules/ngx_http_brotli_static_module.so;

    worker_processes 1;

    error_log /dev/stderr warn;
    pid /tmp/nginx.pid;

    events {
        worker_connections 1024;
    }

    http {
        include /etc/nginx/mime.types;
        default_type application/octet-stream;

        access_log /dev/stdout;
        sendfile   on;
        keepalive_timeout 65;

        client_body_temp_path /tmp/client_temp;
        proxy_temp_path /tmp/proxy_temp_path;
        fastcgi_temp_path /tmp/fastcgi_temp;
        uwsgi_temp_path /tmp/uwsgi_temp;
        scgi_temp_path /tmp/scgi_temp;

        server {
            listen 8080;
            index index.php;
            root /var/www/html;
            server_name _;
            charset utf-8;

            http2 on;
            gzip  on;

            location / {
                try_files $uri $uri/ /index.php?$query_string;
            }
            # Disallow reading inside php script directory, see issue with debug > 1 on note
            location ~ ^/(application|docs|framework|locale|protected|tests|themes/\w+/views) {
                deny all;
            }
            # Disallow reading inside runtime directory
            location ~ ^/tmp/runtime/ {
                deny all;
            }
            #Disallow direct read user upload files
            location ~ ^/upload/surveys/.*/fu_[a-z0-9]*$ {
                return 444;
            }
            #Disallow uploaded potential executable files in upload directory
            location ~* /upload/.*\.(pl|cgi|py|pyc|pyo|phtml|sh|lua|php|php3|php4|php5|php6|pcgi|pcgi3|pcgi4|pcgi5|pcgi6|icn)$ {
                return 444;
            }
            #avoid processing of calls to unexisting static files by yii
            location ~ \.(js|css|png|jpg|gif|swf|ico|pdf|mov|fla|zip|rar)$ {
                try_files $uri =404;
            }
            location ~ /\. {
                deny all;
            }
            location ~ \.php$ {
                fastcgi_split_path_info ^(.+\.php)(.*)$;
                include fastcgi_params;
                fastcgi_index index.php;
                fastcgi_pass 127.0.0.1:9000;
                fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
                fastcgi_param SCRIPT_NAME $fastcgi_script_name;
                fastcgi_param HTTP_HOST $host;
            }
        }
    }
