name: Publish Helm Repo to GitHub Pages

on:
  push:
    branches: [ "main" ]
    paths:
      - 'limesurvey/**'
      - '.github/workflows/publish-pages.yaml'
  workflow_dispatch:
  release:
    types: [ published ]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: 'v3.13.3'

      - name: Package chart
        run: |
          mkdir -p dist
          helm lint limesurvey
          helm package limesurvey -d dist
          helm repo index dist --url https://mbuechner.github.io/helm-limesurvey
          ls -la dist

  publish:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Publish dist/ to gh-pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: dist
          force_orphan: true
